.container {
	padding: 2vw 12vw 0vw 12vw;
}
.navLinks {
	list-style-type: none;
	padding-left: 0px;
}

.navLinks li {
	padding-top: 4px;
}

.titleContainer {
	text-align: center;
}

.titleContainer h3 {
	margin: 0;
}

.titleContainer h1 {
	margin: 0;
}
